<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input value="username"></input>
    <input value="password"></input>
    <button id="fsdf" onclick="aaa();">sendToMiNIApp</button>
</body>

<script>
    function aaa() {
        window.location.href = "http://172.31.25.72:10000/test"
    }
</script>
</html>